body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100dvh;  
}

main {
  flex-grow: 1;
}

table {
  margin: auto;
  border-collapse: collapse;
}

td,
input {
  width: 30px;
  height: 30px;
  border: 1px solid grey;
}
